@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 15px
}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main {
    margin-bottom: 65vh;
    z-index: 2;
    position: relative
}

.container{
    width: 1200px;
    margin: auto
}
p {
    font-family: 'Josefin Sans', sans-serif !important;
}
@media (max-width:767px) { /* X-samll screen Rules */
    .container {
        width:90%;
        margin: auto
    }
    p,h1,h2,h3,h4,h5,h6{
        text-align: center
    }
}
@media (min-width:768px) and (max-width:991px){  /* Small screen Rules */
    .container {
        width: 750px;
    }
}
@media (min-width:992px) and  (max-width:1199px){ /* Medium Screen Rules */
   .container {
        width: 970px;
    }
}
@media (min-width:1200px){ /* Large Screen Rules */
    
}
.clearfix{
    clear: both
}
/*custom-btn
===========================*/
.custom-btn{
    background-color: transparent;
    color: #222;
    border:2px solid #000;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 1
}
.custom-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0;
    transition: all 0.5s ease-in-out
}
.custom-btn.active,
.custom-btn:hover:after {
    width: 100%;
}
/*.custom-btn.black
==========================*/
.custom-btn.black {
    background: #222;
    color: #FFF;
    border: 1px solid #222
}
.custom-btn.black:hover {
    background: #2ecc71;
    border: 1px solid #2ecc71;
}
.custom-btn.black:after{
    content: none
}
/*.custom-btn.white
===========================*/
.custom-btn.white{
    border:1px solid #FFF;
}
.custom-btn.white:after{
        background: #FFF;
}
/*.custom-btn.green
============================*/
.custom-btn.green:hover{
     color: #fff;
    border: 2px solid #2ecc71;
}
.custom-btn.green::after{
    background-color: #2ecc71;
}
.clickable-anchor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
}
/*hover
=============================*/
.process .process-body .process-content:hover .content-icon a,
.blog .blog-slid ul li:hover
{
    background-color: #2ecc71;
    color: #fff;
}

/* Links
==========================*/
a{
    color: inherit;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
a, a:hover, a:focus{
    text-decoration: none;
}

/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
h2, h3{
    text-transform: uppercase
}
h2{
    letter-spacing: 3px;
    font-size: 40px
}
p{
    margin: 0;
    line-height: 30px
}
/* image
============================== */
img{
    max-width: 100%
}
/* list
========================== */
ul{
    list-style: none
}
/* Section-setting
======================= */
.section-lg{
    padding: 100px 0
}
.section-md{
    padding: 70px 0
}
.bg-projects{
    background: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-3.jpg);
    background: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-3.jpg);
    background: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-3.jpg);
}
.bg-services{
    background: -webkit-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url(../images/splash-image-4.jpg);
    background: -moz-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url(../images/splash-image-4.jpg);
    background: -o-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url(../images/splash-image-4.jpg);
}
.bg-home{
    background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-11.jpg);
    background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-11.jpg);
    background: -o-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-11.jpg);
    animation: change-bg 8s linear infinite;
}
@keyframes change-bg{
    0%{
        background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-11.jpg);
        background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-11.jpg);
        background: -o-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-11.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    50%{
        background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-1.jpg);
        background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-1.jpg);
        background: -o-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-1.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    100%{
        background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-7.jpg);
        background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-7.jpg);
        background: -o-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../images/splash-image-7.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
.bg-about{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-2.jpg);
    background-image: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-2.jpg);
    background-image: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-2.jpg);
}
.bg-blog{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-8.jpg);
    background-image: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-8.jpg);
    background-image: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-8.jpg);
}
.bg-contact{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-6.jpg);
    background-image: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-6.jpg);
    background-image: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url(../images/splash-image-6.jpg);
}
.bg{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute
}
p::after,
h2::after,
.teams-member::after{
    content: "";
    position: absolute;
    height: 17px;
    width: 100%;
    left: calc(50% - 50px);
    background-repeat: no-repeat
}
.center{
    text-align: center
}
/* Header 
=================== */
header{
    color: #FFF;
    text-transform: uppercase;
    height: 100vh;
    position: relative;
   overflow: hidden;
}
header.less-height {
    height: 70vh
}
ul.brodcast{
    
}
ul.brodcast li{
    display: inline-block;
    margin: 0 10px
}
ul.brodcast li:after{
    content: "\f105";
    margin-left: 20px;
    font-family: "FontAwesome";
}
ul.brodcast li:last-child:after{
    content: none;
}
ul.brodcast li a {
    
}
ul.brodcast li a:hover {
    color: #2ecc71
}
header nav{
    
}
header nav .brand{
    float: left;
    padding: 30px 0
}
header nav .brand h3 {
    font-weight: 300;
    letter-spacing: 3px;
}
header nav .brand h3 span{
    transform: rotateY(-180deg);
    display: inline-block
}

header nav ul.nav{
    float: right;
    color: #FFF
}
header nav ul.nav li{
    display: inline-block;
    padding: 30px 15px;
    position: relative;
}
header nav ul.nav li:last-child {
    padding-right: 0
}
header nav ul.nav li a {
    
}
ul.mega-menu{
    position: absolute;
    padding: 10px 0;
    border-radius: 10px;
    background: #FFF;
    color: #222;
    width: 150px;
    top: 120%;
    left: -10%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0 13px 0px rgba(100,100,100,0.7)
}
header nav ul.nav li:hover ul.mega-menu {
    opacity: 1;
    top: 100%;
    visibility: visible
}

ul.nav li ul.mega-menu li {
    display: block;
    padding: 0;
    transition: all 0.2s ease-in-out;
}
ul.nav li ul.mega-menu li a {
    padding: 10px ;
    display: block
}
ul.mega-menu li:hover {
    background-color: #222;
    color: #fff
}
header .title{
    padding-top: 30vh
}

header .title h1{
    font-size: 9em;
    margin-bottom: 20px;
}
header .open{
    float: right;
    margin-top: 20px;
    font-size: 18px;
    display: none
}
header input[type=checkbox]{
   opacity: 0
}
@media(max-width:992px){
    header{
        overflow: visible
    }
    header .nav{
        transition: all 0.4s ease-in-out;
        position: absolute;
        background: #FFF;
        border-radius: 5px;
        width: 90%;
        top: 70px;
        transform-origin: top right;
        z-index: 99
    }
    header .nav li {
        padding: 10px 40px;
        border-top: 1px solid #9e9a9a;
        display: block!important;
        color: #555555;
        font-weight: bold;
        cursor: pointer
    }
    header .nav li .icon{
        display: none
    }
    header .nav li:first-child{
        border: none
    }
    header .open{
        display: block;
        cursor: pointer
    }
    [type="checkbox"]:not(:checked) + .nav{
        transform: scale(0)
    }
       
    [type="checkbox"]:checked + .nav li{
       transform: scale(1);
    }
    [type="checkbox"]:checked + .nav li:hover{
        
    }

    [type="checkbox"]:checked + .nav li ul.mega-menu{
       display: none
    }
    
    header .title h1{
        font-size: 40px
    }
}

/* project 
======================== */
.projects{
    overflow: hidden;
    background: #FFF
}
.projects .project-item{
    float: left;
    width: calc(50% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden
}
.projects .project-item:nth-child(2),
.projects .project-item:nth-child(3),
.projects .project-item:nth-child(7),
.projects .project-item:nth-child(8){
    margin-right: 0;
    margin-left: 15px;
}
.projects .project-item:nth-child(2){
    
}
.projects .project-item:nth-child(3),
.projects .project-item:nth-child(8){
    margin-top: 10px;
    margin-bottom: 0
}
.projects .project-item.no-float {
    float: none;
    width: 100%;
    margin: 15px 0
}
@media(max-width:767px){
    .projects .project-item{
        width: 100%;
        margin: 10px 0!important
    }
}
.projects .project-item .project-img{
    overflow: hidden
}
.projects .project-item .project-img img{
    transition: all 0.3s ease-in-out;
    width: 100%
}
.projects .project-item:hover .project-img img {
    transform: scale(1.3) rotate(-1deg)
} 
.projects .project-item .project-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}
.projects .project-item:hover .project-content {
    animation: project 0.3s linear ;
}
@keyframes project{
    0%{
        transform: translateY(-100%);
        
    }
    100%{
        transform: translateY(100%);
    }
}
.projects .project-item .project-content p{
    
}
/* creative
========================== */
.creative{
    background: url(../images/banner-2.jpg);
    background-size: cover;
    color: #FFF;
}
.creative h2 {
    position: relative;
    margin-bottom: 50px
}
.creative h2::after{
    background-image: url(../images/section-decor-white.png);
    bottom: -30px
}
.creative p {
    font-size: 20px;
    width: 80%;
    margin: 20px auto
}
.creative button {
    color: #FFF;
    transition: 0.3s
}
.creative button:hover{
    color: #222
}

/*instgram
===========================*/
.instgram{
    background-color: #f7f7f3
}
.instgram .insta-title{
    
}
.instgram .insta-title h2{
}
.instgram .insta-title h2 span{
    display: block;
    font-size: 12px;
    opacity: .6;
    margin-bottom: 5px;
    letter-spacing: 1px
    
}
.instgram .insta-title p{
    width: 60%;
    margin: 20px auto 30px;
    opacity: .8;
}
.instgram .inst-body{
    overflow: hidden
}
.instgram .inst-body .inst-img{
    width: 25%;
    float: left;
    overflow: hidden
}
.instgram .inst-body .inst-img img{
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease-out
}
.instgram .inst-body .inst-img:hover img{
    transform: scale(1.2);
}
.instgram .follow-span{
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .8;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.instgram .follow-span a{
    font-size: 12px;
    opacity: .8;
    margin-left: 10px;
    display: inline-block;
    transform: translateX(0)
}
.instgram .follow-span:hover {
    color: #2ecc71
}
.instgram .follow-span:hover a {
    display: inline-block;
    transform: translateX(10px)
}
@media (min-width:768px) and (max-width:991px){
    .instgram .inst-body .inst-img{
        width: 50%
    }
}
@media(max-width:767px){
    .instgram .inst-body .inst-img{
        float: none;
        width: 100%;
        margin-bottom: 10px
    }
}
/*page services*/
/*helps
===========================*/
/*general*/
.helps{
    overflow: hidden
}
.helps p{
    width: 80%;
    opacity: .8
}
.helps{
    background-color: #fff;
}
.helps .help-title{
    
}
.helps .help-title p{
    position: relative;
    margin: 20px auto 60px;
    font-size: 21px;
    opacity: .7;
}
.helps .help-title p::after{
    background-image: url(../images/section-decor-black.png);
    bottom: 0;
    top: -40px
}
.helps .help-body{

}
.helps .help-body .help-content{
    width: 25%;
    float: left;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 5px 0;
    transition: all 0.3s ease-in-out
}
.helps .help-body .help-content:hover {
    box-shadow: 0 0 11px 1px #DDD;
}
.helps .help-body .help-content a{
    font-size: 23px
}
.helps .help-body .help-content h3{
    margin: 20px auto 15px;
    opacity: .8
    
}
.helps .help-body .help-content p{
    margin: auto
}
@media (min-width:768px) and (max-width:991px){
    .helps .help-body .help-content{
        width: 50%;
        
    }
}
@media (max-width:767px){
    .helps .help-body .help-content{
        float: none;
        width: 100%;
    }
}
/*service-project
=========================*/
.service-project{
    background-color: #f3f3f3;
    padding: 0 0 50px
}
.service-project .service-img{
}
.service-project .service-img img{
    margin-top: -50px;

}
.service-project h2{
    margin: 30px 0 80px;
    position: relative;
    font-size: 26px;
    opacity: .8;
}
.service-project h2::after{
    background-image: url(../images/section-decor-black.png);
    top: 55px;
}
@media (max-width:767px){
    .service-project h2::after{
        top: 80px
    }
}
.service-project p{
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    opacity: .8
}
.service-project button{
}
/*awards
===========================*/
.awards{
    color: #fff;
    background: #FFF
}
.awards .awards-body{
    overflow: hidden
}
.awards .awards-body .awards-content{
    width: 25%;
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    padding: 60px 0
    
}
.awards .awards-body .awards-content:nth-child(odd){
    background-color: #69f0ae
}
.awards .awards-body .awards-content:nth-child(even){
    background-color: #b9f6ca
}
.awards .awards-body .awards-content a{
    
}
.awards .awards-body .awards-content h4{
    margin: 20px 0;
}
.awards .awards-body .awards-content span{
    display: block;
    font-size: 18px;
}
@media (max-width:767px){
    .awards .awards-body .awards-content{
        width: 50%;
        margin-bottom: 20px
    }
   
}
/*about page*/
/*describe
==========================*/
.describe{
    padding: 80px 0 40px;
    background-color: #fff;
}
.describe .desc-content{
    
}
.describe .desc-content h2{
    font-size: 65px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 23px
}
.describe .desc-content h2::after{
    background-image: url(../images/section-decor-black.png);
    top: 100%;
}
.describe .desc-content span{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
    display: block;
    opacity: .8
}
.describe .desc-content p{
    font-size: 17px;
    opacity: .8;
    width: 80%;
    margin: auto;
    margin-bottom: 30px
}
.describe .desc-content p:last-child{
   letter-spacing: 5.5px;
    text-transform: uppercase;
    font-size: 19px;
}
.describe .desc-content span:last-child{
    font-size: 12px;
    margin-top: -10px
}

/*process
===========================*/
.process{
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%
}
.process .process-title{
    
}
.process .process-title p{
    text-transform: uppercase;
    letter-spacing: 6px;
    opacity: .8;
}
.process .process-title h2{
    margin-top: 0;
    position: relative;
    margin-bottom: 110px
}
.process .process-title h2::after{
    background-image: url(../images/section-decor-white.png);
    top: 75px;
}
.process .process-body{
    overflow: hidden;
    counter-reset: div; 
}
.process .process-body .process-content{
    width: 33.3333%;
    float: left;
    padding: 30px 0;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.process .process-body .process-content:after{
    counter-increment: div;
    content:  "0" counter(div);
    position: absolute;
    z-index: -1;
    font-size: 147px;
    font-weight: bolder;
    color: #222;
    top: -40px;
    left: 85px;
}
.process .process-body .process-content .content-icon{
    float: left;
    width: 80px;
}
.process .process-body .process-content .content-icon a{
    width: 70px;
    height: 70px;
    margin: auto;
    color: #555;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    line-height: 70px;
    font-size: 24px;
    cursor: pointer;   
}

.process .process-body .process-content .content-icon a:hover{
    fill-opacity:1
}
.process .process-body .process-content .content-des{
    width: calc(100% - 100px);
    float: right;
    text-align: left;
}
.process .process-body .process-content .content-des h3{
    font-size: 24px;
    opacity: .9;
    margin-bottom: 10px;
} 
.process .process-body .process-content .content-des p{
    opacity: .9   
}
@media (min-width:768px) and (max-width:991px){
    .process .process-body .process-content{
        width: 50%
    }
    .process .process-body .process-content:last-child{
        float: none;
        width: 100%;
    }
}
@media (max-width:767px){
    .process .process-body .process-content{
        float: none;
        width: 100%;
    }
    .process .process-body .process-content .content-icon{
        float: none;
        width: 100%;
        margin: 0 auto 20px
    }
    .process .process-body .process-content .content-des{
        float: none;
        width: 100%;
    }
}
/*teams-member
============================*/
.teams-member{
    background-size: cover;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
     position: relative;
    background-color: #fbfbfb;
}
.teams-member .team-title{
    
}
.teams-member .team-title p{
    margin: auto;
    font-size: 24px;
    width: 80%;
    opacity: .7;
    position: relative;
    padding-top: 20px;
    margin-bottom: 50px
}
.teams-member .team-title p::after{
    background-image: url(../images/section-decor-black.png);
    bottom: 100%;
}
.teams-member .team-body{

}
.teams-member::after{
    background-image: url(../images/about-image.png);
    background-size: cover;
    left: 0;
    height: 250px;
    z-index: 1
}
.teams-member .team-body .team-content{
    width: 33.333%;
    float: left;
    padding: 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    position: relative;
    z-index: 2
}
.teams-member .team-body .team-content .team-image{
    
}
.teams-member .team-body .team-content .team-image img{

}
.teams-member .team-body .team-content:hover{
     box-shadow: 0 0 11px 1px #DDD;
}
.teams-member .team-body .team-content:hover .team-image img {
    transform: scaleX(-1);
}
.teams-member .team-body .team-content span{
    display: block;
    letter-spacing: 6px;
    font-weight: bold;
    opacity: .8;
    margin: 20px 0 5px;
}
.teams-member .team-body .team-content h3{
    font-size: 22px;
    opacity: .9;
}
@media (max-width:767px){
    .teams-member .team-body .team-content{
        float: none;
        width: 100%;
        margin-bottom: 20px
    }
}
/*awesome-cilents
===========================*/
.awesome-cilents{
    background-color: #000;
    color: #fff;
    margin-top: 0;
}
.awesome-cilents .awesome-title{
}
.awesome-cilents .awesome-title h2{
}
.awesome-cilents .awesome-title p{
    font-size: 18px;
    margin: 30px auto;
    opacity: .8;
    width: 63%;
    letter-spacing: 2px;
}
.awesome-cilents .awesome-body{
    overflow: hidden
}
.awesome-cilents .awesome-body .awesome-content{
    width: 25%;
    margin-bottom: 50px;
    float: left
}
.awesome-cilents .awesome-body .awesome-content img{
    opacity: .9
}
@media (max-width:767px){
    .awesome-cilents .awesome-body .awesome-content{
        width: 50%
    }
}
/*blog page*/
/*blog
==========================*/
.blog h3,
.blog h2{
    opacity: .8;
    margin-bottom: 20px
}
.blog p{
    margin: auto;
    margin-bottom: 30px;
    font-weight: bold;
    opacity: .6;
    letter-spacing: 1px;
    line-height: 1.8;
    width: 70%;
}
.blog{
    background-color: #fff;
}
.blog .blog-title{
    
}
.blog .blog-title h2{
    
} 
.blog .blog-title p{
    
}
.blog .blog-body{
    
}
.blog .blog-body .blog-content{
    margin-bottom: 40px
}
.blog .blog-body .blog-content .blog-img{
    
}
.blog .blog-body .blog-content .blog-img img{
    transition: all 0.3s ease-in-out   
}
.blog .blog-body .blog-content .blog-img img:hover{
    filter: hue-rotate(90deg);
}
.blog .blog-body .blog-content  span{
    display: block;
    margin-top: 15px;
    letter-spacing: 3px;
    opacity: .7;
    font-size: 11px;
}
.blog .blog-body .blog-content  h3{
    
}
.blog .blog-body .blog-content  p{
}
.blog .blog-body .blog-content button{
}
.blog .blog-slid{
    
}
.blog .blog-slid ul{
} 
.blog .blog-slid ul li{
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    transition: color .2s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer
}
.blog .blog-slid ul li a{
    
}

/*contact page*/
/*devices
==========================*/
.devices{
    background-color: #fff;
    margin-bottom: 0
}
.devices .device-title{
    
}
.devices .device-title p{
    position: relative;
    padding-top: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 20px;
    opacity: .8
}
.devices .device-title p::after{
    bottom: 100%;
    background-image: url(../images/section-decor-black.png);
}
.devices .map-content{
    width: 100%;
    margin-top: 50px
}
.devices .map-content iframe{
    width: 100%
}

/*reach-out
===========================*/
.reach-out{
    background-color: #f3f3f3;
    margin-top: 0;
}
.reach-out .reach-content{
}
.reach-out .reach-content h2{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
    opacity: .8
}
.reach-out .reach-content h2::after{
    top: 100%;
    background-image: url(../images/section-decor-black.png);
}
.reach-out .reach-content p{
    width: 54%;
    margin: auto;
    font-size: 19px;
    opacity: .8
}
.reach-out .reach-content form{
    margin: auto;
    width: 50%
}
.reach-out .reach-content form input,
.reach-out .reach-content form textarea
{
    border:1px solid #c5c3c3;
    display: block;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    font-size: 20px;
    box-sizing: border-box;
    transition: all 0.3s
}
.reach-out .reach-content form input[type=text]{
}
.reach-out .reach-content form input[type=email]{
}
.reach-out .reach-content form textarea{
    resize: none
}
.reach-out .reach-content form textarea:focus,
.reach-out .reach-content form input:focus{
    transform: scale(1.02);
    box-shadow: 0 8px 6px 2px #ccc;
}
.reach-out .reach-content form button{
    padding: 7px 26px;
    margin-top: 20px
}
.reach-out .reach-content form input::placeholder,
.reach-out .reach-content form textarea::placeholder{
    color:#9e9a9a;
    font-size: 15px;
    text-transform: uppercase
}
@media (max-width:767px){
    .reach-out .reach-content form{
        width: 90%
    }
}
/* footer 
=========================== */
footer{
    background-color: #fafafa;
    height: 70vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1
}
footer .top-foot{
    text-align: center;
    border-bottom: 1px solid #eeeeee
}
footer .top-foot h3 {
    font-size: 25px;
    margin-bottom: 20px
}
footer .top-foot p{
    line-height: 26px ;
    font-size: 20px;
    width: 50%;
    margin: 0 auto 24px;
    opacity: .8;
}
footer .top-foot form {
}
footer .top-foot form input{
    width: 40%;
    margin: auto;
    padding: 15px;
}
footer .top-foot form button{
    display: inline-block;
    padding:  12px 13px 15px;
    margin-left: -5px
}
footer .bottom-foot{
    overflow: hidden;
    padding: 30px 0
}
footer .bottom-foot .f-left {
    float: left
}
footer .bottom-foot .f-left p{
}
footer .bottom-foot .f-left p::after{
    z-index: -1
}
footer .bottom-foot .f-right{
    float: right
}
footer .bottom-foot .f-right ul.socail{
}
footer .bottom-foot .f-right ul.socail li{
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}
footer .bottom-foot .f-right ul.socail li a{
}
footer .bottom-foot .f-right ul.socail li a:hover{
    color: #2ecc71
}
@media (max-width:767px) { 
    footer{
        height: 75vh;
    }
    footer .top-foot p{
        width: 100%
    }
    .main{
        margin-bottom: 75vh
    }
    footer .bottom-foot .f-right,
    footer .bottom-foot .f-left{
        float: none;
        width: 100%;
        text-align: center
    }
}